@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Nunito&family=Silkscreen&display=swap');

:root{
  --darkblue: #3C1361;
  --white: #fff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--darkblue);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding: 6rem;
}

body{
    background: #ccc; 
}


section{
  padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--darkblue);
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

header .logo i{
    padding-right: .5rem;
    color: var(--white);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #fff;
}

header .navbar a:hover{
    color: var(--white);
}


#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color:#fff;
    border:.1rem solid #fff;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
}

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.home .content{
  flex:1 1 40rem;
  padding-top: 6.5rem;
}

.home .image{
  flex:1 1 40rem;
}

.home .image img{
  float: right;
  width:100%;
  padding: 1rem;
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}

/* company section starts */

.main{

  margin: 2%;
 }

 
 .pic{
      width: 20%;
      display: inline-block;
      background-color: #3C1361;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px; 
      margin: 6%;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   
 
  
  }
 
 .title{
  
   text-align: center;
   padding: 10px;
   
  }
 
 h1{
   font-size: 20px;
   color: #fff;
  }
 
 .des{
   padding: 3px;
   text-align: center;
  
   padding-top: 10px;
         border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 button{
   margin-top: 40px;
   margin-bottom: 10px;
   background-color: white;
   border: 1px solid black;
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }

/* company section ends  */

/* media queries */

@media(max-width:991px){
    html{
        font-size: 55%;
}

header{
    padding: 2rem;
}
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--yellow);
        border-right: .5rem solid var(--yellow);
        background: #3C1361;
    }
}

@media(max-width:400px){
    html{
        font-size: 50%;
}
}